<h1>Adicionar Alunos</h1>
<form action="/student" method="POST">
    <label>Nome</label>
    <input type="text" name="nome">
    <br><br>
    <label>Email</label>
    <input type="text" name="email">
    <br><br>
    <button>Cadastrar</button>
</form>