<h1>TALENTOS MOVEIN</h1>
<h2>Conheça nossos talentos:</h2>

{{#each devsdata }}
    Id: {{dataValues.id}} Nome: {{dataValues.nome}}  Email: {{dataValues.email}}
    <br>
    <a href="/del-student/{{dataValues.id}}"><button>Deletar</button></a>
    <hr>

{{/each}}
<a href="/"><button>Retornar</button></a>
<br>
<a href="/add-student"><button>Adicionar</button></a>
